<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>LandingPage - Jimena Mota</title>
</head>
<body class="back">
  <header class="cabeza">
    <h1>Formula para calcular la masa de un objeto <br>
        Jimena Mota Basilio <br>
        S1900225003 ISW
    </h1>
  </header>
  <div class="cabeza">
    <h1 >Descripcion</h1>
          <h4 class="contenedor">
            Determina la masa utilizando la fuerza y la aceleración: <br> 
            segunda ley del movimiento de Newton indica que una fuerza es igual a la masa por aceleración:<br> 
            F = ma. Si conoces la fuerza neta y aceleración del objeto,
            puedes reacomodar esta fórmula para hallar su masa: m = F / a.
            La fuerza se mide en N (newton), lo que también puedes escribir como (kg * m)/ s2.
            La aceleración se mide en m/s2. Cuando calculas F / a, 
            las unidades se cancelan para darte una respuesta en kilogramos (kg).
            La masa es la cantidad de materia en un objeto y no cambia a menos que cortes parte de este o agregues más material.
            El peso es una medida del efecto que tiene la gravedad sobre la masa. 
            Si mueves el objeto hacia un área con una gravedad diferente (como por ejemplo de la Tierra a la Luna), 
            su peso cambiará, pero no la masa
            <app-ui></app-ui>
          </h4>
  </div>
</body>
</html>

<router-outlet></router-outlet>
