<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>LandingPage - Jimena Mota</title>
</head>
<body class="back">
  <header>
    <h3>Fharenheir a Celsius <br>
        Yoriel Monje Espidio <br>
        S17004055 ISW
    </h3>
  </header>
  <div class="contenido">
    <h1 >Descripcion</h1>
          <h4 class="contenedor">
            Fahrenheit y Celsius son las escalas que se utilizan
            con más frecuencia para informar la temperatura de la habitación, 
            el clima y el agua. La escala Fahrenheit se usa en los Estados Unidos, 
            mientras que la escala Celsius se usa en todo el mundo.<br>
            Cómo convertir temperaturas<br>
            Primero, necesita la fórmula para convertir Fahrenheit (F) a Celsius (C) :<br>
            C = 5/9 x (F-32)<br>
            La notación C representa la temperatura en Celsius y F es la temperatura en Fahrenheit. 
            Después de conocer la fórmula, es fácil convertir  Fahrenheit a Celsius con estos tres pasos.<br>

              Reste 32 de la temperatura Fahrenheit.<br>
              Multiplica este número por cinco.<br>
              Divida el resultado por nueve.<br>
            <app-ui></app-ui>
          </h4>
  </div>
</body>
</html>

<router-outlet></router-outlet>
