.textbox{
    border: 5px solid rgb(255, 0, 0);
    background: black;
    margin-right: 10px;
    margin-left: 5px;
    padding:20px;
    border-radius: 10px;
    text-size-adjust: auto;
    color: azure;
}
.boton{
    border: 5px solid rgb(255, 0, 0);
    background: black;
    color: rgb(238, 255, 0);
    padding: 5px 20px;
    margin-right: 10px;
    font-size: 20px;
}
.boton:active{
    border: 5px solid rgb(255, 0, 0);
    background: rgb(0, 48, 179);
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    margin-right: 10px;
}
.letrica{
    font-size: 20px;
}
.alao{
    display: flex;
}
.result{
    font-size: 50px;
}