<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <div class="alao">
        <section>
        <p class="letrica">Fuerza </p><input type="number" class="textbox" name="value1" placeholder="Velocidad" id="value1" [(ngModel)]="value1" >
        </section>
        <section>
        <p class="letrica">Aceleracion </p><input type="number" class="textbox" name="value2" placeholder="Frecuencia" id="value2" [(ngModel)]="value2" >
        </section>
        <button class="boton"(click)="calcular()">Calcular</button>
        <p class="result">Masa: {{resultado}}</p>
    </div>
    
</body>
</html>

