.textbox{
    border: 5px solid rgb(56, 24, 116);
    background: rgb(6, 2, 243);
    margin-right: 10px;
    margin-left: 5px;
    padding:20px;
    border-radius: 10px;
    text-size-adjust: auto;
    color: azure;
}
.boton{
    border: 5px solid rgb(56, 24, 116);
    background: rgb(6, 2, 243);
    color: azure;
    font-size: 20px;
    margin-top: 75px;
    
}
.boton:active{
    border: 5px solid rgb(255, 0, 0);
    background: rgb(0, 48, 179);
    color: rgb(255, 255, 255);
    
}
.letrica{
    font-size: 20px;
}
.alao{
    display: flex;
}
.result{
    font-size: 50px;
    margin-left: 20px;
    margin-top: 60px;;
}